<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ch-03 D3 Events</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <link type="text/css" rel="stylesheet" href="/css/d3ia.css" />

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
    <script src="/webjars/d3js/4.10.2/d3.min.js"></script>
    <script src="/js/colorbrewer.js"></script>
    <!--<script src="/js/soccerviz.js"></script>-->
</head>
<body onload="createSoccerViz()">
<div class="container-fluid" style="margin-top:20px;">

    <div class="row">

        <div class="col-xs-6" style="width: 564px;">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <h1 class="panel-title">
                                Ch03 D3 Events
                            </h1>
                        </div>
                        <div class="col-xs-3" style="text-align:right;">
                            <a th:href="@{/}" style="color:white;">Home</a>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div id="viz">
                        <svg style="width:500px;height:500px;border:1px lightgray solid;"></svg>
                    </div>
                    <div id="controls"></div>
                </div>

            </div>

        </div>

    </div>

</div>

<script>

    function createSoccerViz() {

        d3.text("/data/infobox.html", html => {
           d3.select("body").append("div").attr("id", "infobox").html(html);
        });

        d3.csv("/api/data/worldcup", data => {overallTeamViz(data);});

        function overallTeamViz(incomingData) {
            d3.select("svg")
                .append("g")
                .attr("id", "teamsG")
                // translate: to change something or to be changed into a different form
                .attr("transform", "translate(50,300)")
                .selectAll("g")
                .data(incomingData)
                .enter()
                .append("g")
                .attr("class", "overallG")
                .attr("transform", (d, i) => "translate(" + (i * 50) + ", 0)");

            var teamG = d3.selectAll("g.overallG");

            teamG.on("click", teamClick);
            function teamClick(d) {
                d3.selectAll("td.data")
                    .data(d3.values(d))
                    .html(p => p);
            }

            teamG
                .append("circle")
                .attr("r", 0)
                .transition() // 过渡 the process or a period of changing from one state or condition to another
                .delay((d, i) => i * 100)
                .duration(500)
                .attr("r", 40)
                .transition()
                .duration(500)
                .attr("r", 20);

            teamG
                .append("text")
                .style("text-anchor", "middle")
                .attr("y", 40)
                .text(d => d.team);

            /*
             * To make the images show up successfully, use insert() instead of
             * append() because that gives the capacity to tell D3 to insert
             * the images before the text elements
             * This keeps the labels from being drawn behind the newly added
             * images.
             */
            d3.selectAll("g.overallG")
                .insert("image", "text")
                .attr("xlink:href", d => `/images/${d.team}.png`)
                .attr("width", "45px")
                .attr("height", "20px")
                .attr("x", -22)
                .attr("y", -10)

            // d3.select("circle")
            //     .each(function (d, i) {
            //         console.log(">>>>>>> d: " + d);
            //         console.log(">>>>>>> i:" + i);
            //         console.log(">>>>>>> this:" + this);
            //         console.log("-----------------------------------------------");
            //     });

            /*
             * Use Object.keys and pass it one of the objects from our array
             * Object.keys function returns the names of the attributes of an
             * object as an array
             */
            const dataKeys = Object.keys(incomingData[0]).filter(d => d !== "team" &&  d !== "region");
            console.log(dataKeys);

            /*
             * The .on function is a wrapper for the traditional HTML mouse
             * events, and accepts "click", "mouseover", "mouseout", and so on.
             */
            d3.select("#controls")
                .selectAll("button.teams")
                .data(dataKeys)
                .enter()
                .append("button")
                .html(d => d)
                .on("click", buttonClick);
            /*
             * Stick to ramps that emphasize hue or saturation (by using HSL)
             */
            function buttonClick(datapoint) {
                var maxValue = d3.max(incomingData,
                    d => parseFloat(d[datapoint]));
                var radiusScale = d3.scaleLinear()
                    .domain([0, maxValue])
                    .range([2, 20]);

                var colorQuantize = d3.scaleQuantize()
                    .domain([0, maxValue]).range(colorbrewer.RdYlBu[3]);

                d3.selectAll("g.overallG")
                    .select("circle")
                    .transition()
                    .duration(1000)
                    .attr("r", d => radiusScale(d[datapoint]))
                    .style("fill", d => colorQuantize(d[datapoint]));
            }

            teamG.on("mouseover", highlightRegion);
            function highlightRegion(d, i) {
                var teamColor = d3.rgb("#75739F");
                d3.select(this)
                    .select("text")
                    .classed("active", true)
                    .attr("y", 10);
                d3.selectAll("g.overallG")
                    .select("circle")
                    .style("fill", p => p.region === d.region ?
                        teamColor.darker(0.75) : teamColor.brighter(0.5));
                this.parentElement.appendChild(this);
            }

            // Disable mouseover event on each text element
            teamG.select("text").style("pointer-events", "none");

            teamG.on("mouseout", function() {
                d3.selectAll("g.overallG")
                    .select("circle")
                    .classed("inactive", false)
                    .classed("active", false)
                    .style("fill", "#75739F");
                d3.selectAll("g.overallG")
                    .select("text")
                    .classed("active", false)
                    .classed("inactive", false)
                    .attr("y", 40);
            });

            d3.select("circle").each(function(d, i) {
                console.log(">>>>>>> d: " + d);
                console.log(">>>>>>> i: " + i);
                console.log(">>>>>>> this: " + this);
            });

            console.log(d3.select("circle").node());

            // Add svg icon to every team
            d3.html("/images/icon.svg", loadSVG);
            function loadSVG(svgData) {
                d3.selectAll("g").each(function() {
                    var gParent = this;
                    d3.select(svgData).selectAll("path").each(function() {
                        gParent.appendChild(this.cloneNode(true));
                    });
                });
                // d3.selectAll("path").attr("transform", "translate(10, 50)");
                d3.selectAll("path")
                    .style("fill", "#93C464")
                    .style("stroke", "black")
                    .style("stroke-width", "1px");
            }

            d3.selectAll("g.overallG")
                .each(function(d) {
                    d3.select(this)
                        .selectAll("path").datum(d);
                });

            var fourColorScale = d3.scaleOrdinal()
                .domain(["UEFA", "CONMEBOL", "CAF", "AFC"])
                .range(["#5eafc6", "#FE9922", "#93C464", "#fcbc34"]);
            d3.selectAll("path")
                .style("fill", p => fourColorScale(p.region))
                .style("stroke", "#62696F")
                .style("stroke-width", "2px");

        }//: End of overallTeamViz
    }

</script>

</body>
</html>