<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Data Binding Examples</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
    <script src="/webjars/d3js/4.10.2/d3.min.js"></script>
    <style>

    </style>
</head>
<body>
<div class="container-fluid" style="margin-top:20px;">

    <div class="row">

        <div class="col-xs-6 col-xs-offset-3">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <h1 class="panel-title">
                                Bar chart for city population
                            </h1>
                        </div>
                        <div class="col-xs-3" style="text-align:right;">
                            <a th:href="@{/}" style="color:white;">Home</a>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <svg id="svg_1" style="width:100%;height:250px;border:1px lightgray solid;" >
                    </svg>
                </div>

            </div>

            <div class="panel panel-danger">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <h1 class="panel-title">
                                Bar chart for tweets
                            </h1>
                        </div>
                        <div class="col-xs-3" style="text-align:right;">
                            <a th:href="@{/}" style="color:#62696F;">Home</a>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <svg id="svg_2" style="width:100%;height:250px;border:1px lightgray solid;" >
                    </svg>
                </div>

            </div>

        </div>

    </div>

</div>

<script>

    d3.csv("/api/data/cities", data => {dataViz(data)});

    function dataViz(incomingData) {

        var maxPopulation = d3.max(incomingData, d => parseInt(d.population));

        var yScale = d3.scaleLinear().domain([0, maxPopulation]).range([0, 240]);

        d3.select("#svg_1")
            .attr("style", "height:250px;width:100%;");

        d3.select("#svg_1")
            .selectAll("rect")
            .data(incomingData)
            .enter()
            .append("rect")
            .attr("width", 30)
            .attr("height", d => yScale(parseInt(d.population)))
            .attr("x", (d, i) => i * 40 + 10)
            .attr("y", d => 240 - yScale(parseInt(d.population)))
            .style("fill", "Orange")
            .style("stroke", "Blue")
            .style("stroke-width", "1px");
    }

    d3.json("/api/data/tweets", (error, data) => {tweetsViz(data.tweets)});

    function tweetsViz(incomingData) {

        d3.select("#svg_2")
            .attr("style", "height:250px;width:100%;");

        var nestedTweets = d3.nest()
                .key(d => d.user)
                .entries(incomingData);

        nestedTweets.forEach(d => {
            d.numTweets = d.values.length;
        })

        var maxTweets = d3.max(nestedTweets, d => d.numTweets);

        var yScale2 = d3.scaleLinear().domain([0, maxTweets]).range([0, 240]);

        d3.select("#svg_2")
            .selectAll("rect")
            .data(nestedTweets)
            .enter()
            .append("rect")
            .attr("width", 30)
            .attr("height", d => yScale2(d.numTweets))
            .attr("x", (d, i) => i * 40 + 10)
            .attr("y", d => 240 - yScale2(d.numTweets))
            .style("fill", "lightblue")
            .style("stroke", "red")
            .style("stroke-width", "1px");

    }

</script>

</body>
</html>