<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The D3.js Lab</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">
                        The core process of data visualization
                    </h1>
                </div>

                <div class="panel-body">
                    - Load
                    <ul class="list-group">
                        <a th:href="@{/d3lab/ch02/2_00}"
                           class="list-group-item list-group-item-warning">
                            Data Loading
                        </a>
                    </ul>
                    - Format
                    <ul class="list-group">
                        <a th:href="@{/d3lab/ch02/2_01}"
                           class="list-group-item list-group-item-warning">
                            Data Scale Liner
                        </a>
                        <a th:href="@{/d3lab/ch02/2_02}"
                           class="list-group-item list-group-item-warning">
                            Data Scale Color
                        </a>
                        <a th:href="@{/d3lab/ch02/2_03}"
                           class="list-group-item list-group-item-warning">
                            Data Scale Quantile
                        </a>
                        <a th:href="@{/d3lab/ch02/2_04}"
                           class="list-group-item list-group-item-warning">
                            Data Nest
                        </a>
                    </ul>
                    - Measure
                    <ul class="list-group">
                        <a th:href="@{/d3lab/ch02/2_05}"
                           class="list-group-item list-group-item-warning">
                            Measuring Data
                        </a>
                    </ul>
                    - Data Binding
                    <ul class="list-group">
                        <a th:href="@{/d3lab/ch02/2_06}"
                           class="list-group-item list-group-item-warning">
                            Selections and Binding
                        </a>
                        <a th:href="@{/d3lab/ch02/2_07}"
                           class="list-group-item list-group-item-warning">
                            Accessing data with inline functions
                        </a>
                        <a th:href="@{/d3lab/ch02/2_08}"
                           class="list-group-item list-group-item-warning">
                            Integrating Scales
                        </a>
                        <a th:href="@{/d3lab/ch02/2_09}"
                           class="list-group-item list-group-item-warning">
                            Polylinear Scales
                        </a>
                        <a th:href="@{/d3lab/ch02/2_10}"
                           class="list-group-item list-group-item-warning">
                            Handling Cutoff Values
                        </a>
                        <a th:href="@{/d3lab/ch02/2_11}"
                           class="list-group-item list-group-item-info">
                            Data Binding Examples
                        </a>
                        <a th:href="@{/d3lab/ch02/2_12}"
                           class="list-group-item list-group-item-warning">
                            Channels
                        </a>
                        <a th:href="@{/d3lab/ch02/2_13}"
                           class="list-group-item list-group-item-warning">
                            Add Labels
                        </a>
                    </ul>
                </div>

            </div>

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">The Basics</h1>
                </div>

                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a th:href="@{/d3lab/ch01/1_11}">1_11.html</a>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/d3lab/ch01/1_17}">1_17.html</a>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/d3lab/ch01/1_20}">1_20.html</a>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/d3lab/ch01/1_21}">1_21.html</a>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/d3lab/ch01/1_22}">1_22.html</a>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/d3lab/ch01/1_25}">1_25.html</a>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/d3lab/ch01/1_31}">1_31.html</a>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/d3lab/ch01/1_32}">1_32.html</a>
                        </li>
                        <li class="list-group-item">
                            <a th:href="@{/d3lab/ch01/1_34}">1_34.html</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>