<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Streamgraph</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
    <script src="/webjars/d3js/4.10.2/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.4/d3-legend.min.js"></script>
    <style>

        svg {
            width: 800px;
            height: 800px;
            padding-left: 30px;
            border: #E2E9EF solid 1px;
        }

        .tick > line {
            stroke: #76a579;
        }

        .tick > text {
            fill: #76a579;
        }

        path {
            fill: #75739F;
            stroke: #75739F;
            stroke-width: 3;
            stroke-opacity: .75;
            fill-opacity: 0.5;
        }

        path.domain {
            stroke: none;
            fill: none;
        }

    </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">

    <div class="row">

        <div class="col-xs-12" >

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <h1 class="panel-title">Streamgraph</h1>
                        </div>
                        <div class="col-xs-3" style="text-align:right;">
                            <a th:href="@{/}" style="color:white;">Home</a>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div id="viz">
                        <svg></svg>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script>

    d3.csv("/api/data/movies", lineChart);

    function lineChart(data) {

        var xScale = d3.scaleLinear()
            .domain([1, 10])
            .range([20, 470]);

        var yScale = d3.scaleLinear()
            .domain([-40, 40])
            .range([480, 20]);

        var xAxis = d3.axisBottom()
            .scale(xScale)
            .tickSize(480)
            .tickValues([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]);

        var yAxis = d3.axisLeft()
            .scale(yScale)
            .ticks(10)
            .tickSize(-480);

        d3.select("svg")
            .append("g")
            .attr("id", "xAxisG")
            .call(xAxis);

        d3.select("svg")
            .append("g")
            .attr("id", "yAxisG")
            .call(yAxis);

        var fillScale = d3.scaleOrdinal()
            .domain(["titanic", "avatar", "akira", "frozen",
                "deliverance", "avengers"])
            .range(["#fcd88a", "#cf7c1c", "#93c464", "#75734F",
                "#5eafc6", "#41a368"]);

        Object.keys(data[0])
            .forEach(key => {
                if (key != "day") {
                    var movieArea = d3.area()
                        .x(d => xScale(d.day))
                        .y0(d => yScale(d[key]))
                        .y1(d => yScale(-d[key]))
                        .curve(d3.curveCardinal);

                    d3.select("svg")
                        .append("path")
                        .style("id", key + "Area")
                        .attr("d", movieArea(data))
                        .style("fill", fillScale(key))
                        .style("stroke", "#75739F")
                        .style("stroke-width", 2)
                        .style("stroke-opacity", 0.75)
                        .style("fill-opacity", 0.4);
                }
            });

        var legendA = d3.legendColor().scale(fillScale);
        d3.select("svg")
            .append("g")
            .attr("transform", "translate(700, 0)")
            .call(legendA);

    }// End of lineChart

</script>

</body>
</html>