<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Histograms</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>
    <script src="/webjars/d3js/4.10.2/d3.min.js"></script>
    <style>
        svg {
            width: 600px;
            height: 600px;
            padding: 30px;
            border: #E2E9EF solid 1px;
        }

        .tick > line {
            stroke: navy;
        }

        #yAxisG .tick > line {
            stroke: none;
        }

        text {
            fill: navy;
        }

        path.domain {
            stroke: navy;
            fill: none;
        }

    </style>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">

    <div class="row">

        <div class="col-xs-12" >

            <div class="panel panel-primary">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-9">
                            <h1 class="panel-title">Histograms</h1>
                        </div>
                        <div class="col-xs-3" style="text-align:right;">
                            <a th:href="@{/}" style="color:white;">Home</a>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div id="viz">
                        <svg></svg>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script>

    d3.json("/api/data/tweets", data => histogram(data.tweets));

    function histogram(tweetsData) {

        var xScale = d3.scaleLinear().domain([0, 5]).range([0, 500]);
        var yScale = d3.scaleLinear().domain([0, 10]).range([500, 0]);

        var xAxis = d3.axisBottom().scale(xScale).ticks(5);
        var yAxis = d3.axisLeft().scale(yScale).ticks(5).tickSize(-500);

        // Create a new layout function
        var histoChart = d3.histogram();

        /*
         * Determain the values the histogram bins for
         * Currently having 6 bins from 0 to 5
         */
        histoChart.domain([0, 5])
        /*
             * Specity how collect value (the array elements: tweets) for bins
             * Here, we collect array elements according to favorites.length of
             * each element
             */
            .value(d => d.favorites.length)
            /*
             * Specify how values are divided into bins.
             * Element has 0 favorite is collect into the first bin
             * Element has 1 favorite is collect into the second bin
             * ...
             * Element has 5 favorites is collect into the sixth bin
             */
            .thresholds([0, 1, 2, 3, 4, 5]);

        // Formats the data
        var histoData = histoChart(tweetsData);

        d3.select("svg")
            .selectAll("rect")
            .data(histoData)
            .enter()
            .append("rect")
            .attr("x", d => {
                console.log(d);
                return xScale(d.x0);
            })
            .attr("y", d => yScale(d.length))
            .attr("width", d => {
                return d.x1 > d.x0 ? (xScale(d.x1 - d.x0) - 10) : 0; })
            .attr("height", d => 500 - yScale(d.length))
            .style("fill", "#FCD88B")
            .on("click", retweets);

        function retweets() {
            histoChart.value(d => d.retweets.length);
            histoData = histoChart(tweetsData);
            d3.selectAll("rect")
                .data(histoData)
                .transition()
                .duration(500)
                .attr("x", d => xScale(d.x0))
                .attr("y", d => yScale(d.length))
                .attr("height", d => 500 - yScale(d.length));
                d3.selectAll("rect").on("click", favorites);
        }

        function favorites() {
            histoChart.value(d => d.favorites.length);
            histoData = histoChart(tweetsData);
            d3.selectAll("rect")
                .data(histoData)
                .transition()
                .duration(500)
                .attr("x", d => xScale(d.x0))
                .attr("y", d => yScale(d.length))
                .attr("height", d => 500 - yScale(d.length));
            d3.selectAll("rect").on("click", retweets);
        }

        d3.select("svg")
            .append("g")
            .attr("id", "xAxisG")
            .attr("transform", "translate(0, 500)")
            .call(xAxis);

        d3.select("#xAxisG")
            .selectAll("text")
            .attr("dx", 50);

        d3.select("svg")
            .append("g")
            .attr("id", "yAxisG")
            .call(yAxis);

    }

</script>

</body>
</html>